<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <setting label="30002" type="lsep" />
        <setting id="dlpath" type="folder" label="30003" source="auto" option="writeable" />
        <setting id="keep_files" type="bool" label="30004" default="false" />

        <setting label="30005" type="lsep"/>
        <setting id="immunicity" type="bool" label="30017" default="false" />

        <setting label="30006" type="lsep"/>
        <setting type="action" label="30007" action="RunPlugin(plugin://plugin.video.xbmctorrent/library/install)" />
        <setting type="action" label="30008" action="RunPlugin(plugin://plugin.video.xbmctorrent/library/uninstall)" />
    </category>
    <category label="30009">
        <setting label="30010" type="lsep"/>
        <setting id="magnet_boost" label="30011" type="bool" default="true" />
        <setting id="max_upload_rate" label="30012" type="number" default="" />
        <setting id="max_download_rate" label="30013" type="number" default="" />
        <setting id="encryption" label="30014" type="enum" values="Forced|Enabled|Disabled" default="1" />
    </category>
    <category label="30015">
        <setting label="30016" type="lsep"/>
        <setting id="porn" type="bool" label="30017" default="true" />

        <setting label="30018" type="lsep"/>
        <setting type="action" label="30019" action="RunPlugin(plugin://plugin.video.xbmctorrent/cmd/clear_cache)" />

        <setting label="30020" type="lsep"/>
        <setting id="base_eztv" type="text" label="EZTV" default="http://eztv.it" />
        <setting id="base_yify" type="text" label="YIFY Torrents" default="http://yts.re" />
        <setting id="base_kickass" type="text" label="Kickass Torrents" default="http://kickass.to" />
        <setting id="base_tpb" type="text" label="The Pirate Bay" default="http://thepiratebay.org" />
        <setting id="base_nyaa" type="text" label="NyaaTorrents" default="http://www.nyaa.se" />
        <setting id="base_bitsnoop" type="text" label="BitSnoop" default="http://bitsnoop.com" />


        <setting label="30021" type="lsep"/>
        <setting id="ga_disable" type="bool" label="30022" default="false" />

        <setting label="30023" type="lsep"/>
        <setting id="android_app_id" type="text" label="30024" default="org.xbmc.xbmc" />
    </category>
</settings>
